.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

**/node_modules
**/package-lock.json
**/yarn.lock
**/dist
**/dist-ssr
**/jspm_packages

# python files
**/__pycache__
*.pyc
*.pyo

# local env files
.env.local
.env.*.local
.env.test
.env
**/env

# Log files
*.log

# Editor directories and files
.idea
.vscode
.nova
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache files
.cache/
.cache
.eslintcache
.npm
.yarn-integrity

.vuepress/dist
.serverless/
.next
.nuxt
